/* body {
	background-color: slategrey;
} */
/* .svg-container {
	display: inline-block;
	position: relative;
	width: 100px;
	height: 100px;
	vertical-align: middle;
	overflow: hidden;
}
.svg-content {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
} */
